<div class="sidebar">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <img src="assets/img/perfil.jpg" class="img-fluid user-image" />
      <p>Antonio Rodríguez</p>
    </div>
  </div>
  <nav class="d-none d-md-block">
    <div class="sidebar-sticky">
      <ul class="nav flex-column text-left">
        <li *ngFor="let navLink of navLinks" class="nav-item mb-2 p-2">
          <a
            class="nav-link"
            href="{{ navLink.URL }}"
            [routerLinkActive]="['active-link']"
          >
            <i class="{{ navLink.Icon }}"></i>
            &nbsp;&nbsp;&nbsp; {{ navLink.DisplayName }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
