nav {
  border-top: 1px solid darkgrey;
}

a,a:active, a:hover, a:visited {
  color: black;
  font-size: medium;
}

.sidebar {
  width: 300px;
  height: 100vh;
  border-right: 1px solid darkgrey;
}

.nav-item:hover {
  background: darkgrey;
}

.user-image {
  border-radius: 50%;
  border: 2px solid #FFF;
  margin-top: 20px;
}

.active-link {
  background-color: red;
}
